# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store

#test
api_test.py
post_test.py
*test.py